@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@1,300&family=Playfair+Display:ital@0;1&display=swap");
* {
  margin: 0;
  font-family: "Kaushan Script", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.container {
  position: relative;
  width: 100%;
  max-width: 900px;
  max-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1.75fr;
  
}
.left-side {
  position: relative;
  background: hsl(274, 13%, 89%);
  padding: 40px;
}
.my-name {
  font-size: 280%;
  justify-content: center;
  display: flex;
}
.right-side {
  position: relative;
  background: hsl(192, 22%, 95%);
  padding: 40px;
}
.embed-links a {
  color: black;
  line-height: 1.7;
}
.courses span {
  line-height: 1.2;
}
.links {
  position: relative;
  width: 100%;
  background: rgb(190, 206, 212);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}
.description-profile {
  position: relative;
  width: 100%;
  background: rgb(190, 206, 212);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}
.description-text {
  color: black;
  line-height: 1.7;
}
.education h5 {
  background: hsl(274, 13%, 89%);
}
.education {
  line-height: 1.9;
}
.cv{
  padding: 30px;
 margin-left: 20px;
}
